VITE_FIREBASE_API_KEY=AIzaSyB4ijp_0YZSe6KU4EoelTfg1NZeg9Uhe5Y
VITE_FIREBASE_AUTH_DOMAIN=rifa-96b00.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=rifa-96b00
VITE_FIREBASE_STORAGE_BUCKET=rifa-96b00.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=371151032926
VITE_FIREBASE_APP_ID=1:371151032926:web:2d93b4f8a6b47e9df05acf
VITE_PUBLIC_APP_NAME=SaaS Sorveterias
VITE_PUBLIC_BASE_URL=http://localhost:5173
